{% extends 'bookstore/base.html' %}

{% load static %}

{% block title %}
Login |  bookstore
{% endblock title %}

{% block content %}

<div class="container jumbotron">

<form method="POST" action ="">
    {% csrf_token %}
    <p><input type="text" name ="username" placeholder="Username: "></p>
    <p><input type="text" name ="password" placeholder="password: "></p>
    <p><input class="btn btn-success" type="submit" value="Login"> </p>
    <p>No Account present <a href ='{% url 'register' %}'>Register</a> </p>
</form>
</div>
{% endblock content %}



